<div ng-controller="AddFilmCtrl">
    
    
    <h2>Search imdb</h2>
    
    <div ng-hide="selected_imdb">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search imdb" ng-model="search_imdb">
        </div>
        <div class="list-group">
            <a ng-click="select_imdb(k)" class="list-group-item" ng-repeat="(k, res) in imdb_res.results">
                <div class="row">
                    <div class="col-md-1">
                        <img ng-show="res.poster_path" class="img_poster_imdb_search" src="https://image.tmdb.org/t/p/w185{{res.poster_path}}" alt="{{res.title}}">
                    </div>
                    <div class="col-md-11">
                        <h4 class="list-group-item-heading">{{res.title}} <span ng-hide="res.title = res.original_title">({{res.original_title}})</span></h4>
                        <p class="list-group-item-text">
                            <b>Release date : </b>{{res.release_date}}
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div ng-show="selected_imdb">
        <a ng-click="change_selected_imdb()">Unselect</a>
        <img ng-show="new_movie.poster_path" src="https://image.tmdb.org/t/p/w185{{new_movie.poster_path}}" alt="{{res.title}}">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="title" ng-model="new_movie.title">
            <textarea class="form-control" rows="5" class="form-control" placeholder="synopsis" ng-model="new_movie.synopsis"></textarea>
            <input type="text" class="form-control" placeholder="date" ng-model="new_movie.release_date">
            <b>Genres : </b><span ng-repeat="genre in new_movie.genres"  class="badge">{{genre.name}}</span>
        </div>
    </div>
</div>