<div ng-controller="AddFilmCtrl as ctrl">
    <md-content class="md-padding" layout="column">
        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                md-selected-item="ctrl.selectedItem"
                md-search-text="ctrl.searchText"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                placeholder="Search film to imdb">
                <span md-highlight-text="ctrl.searchText">{{item.title}} ({{item.release_date|date:yyyy}})</span>
            </md-autocomplete>
            <br/>
        </form>
        <md-content class="md-padding">
            <div layout="row" layout-wrap>
                <div flex>    
                    <img ng-show="new_movie.poster_path" class="img_poster_imdb_search" src="https://image.tmdb.org/t/p/w185{{new_movie.poster_path}}" alt="{{new_movie.title}}">
                </div>
                <div flex="80">
                    <form name="movieForm">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>imdb id</label>
                                <input  ng-model="new_movie.imdb_id" disabled>
                            </md-input-container>
                            <md-input-container flex="70">
                                <label>Title</label>
                                <input ng-model="new_movie.title">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Release Date</label>
                                <input type="date" ng-model="new_movie.release_date">
                            </md-input-container>
                        </div>
                        <md-input-container flex>
                            <label>Synopsis</label>
                            <textarea ng-model="new_movie.synopsis" columns="1" md-maxlength="1000"></textarea>
                        </md-input-container>
                        <h5 class="md-subhead">Genres</h5>
                        <section layout="row">
                            <md-select class="noMargin" ng-change="addGenre()" ng-model="genreAdd" placeholder="Add genre">
                                <md-option value="{{g.id}}" ng-repeat="g in genres" ng-if="genreNoExist(g)">{{g.name}}</md-option>
                            </md-select>
                            <md-button  class="md-raised" ng-repeat="g in new_movie.genres" ng-click="removeGenre(g)">{{g.name}}</md-button>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center">
                            <md-button class="md-raised md-primary">Save new film</md-button>
                        </section>
                </div>
            </div>
        </md-content>

        <!--debug-->
        <h1>Debug</h1>
        <h2>Json new movie</h2>
        <pre>{{new_movie|json}}</pre>
        <br/><br/>
        <h2>Json select idem</h2>
        <pre>{{ctrl.selectedItem|json}}</pre>
    </md-content>



</div>