<!DOCTYPE html>
<html lang="en" ng-app="powzfilmApp" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Powz film</title>
        <meta name="description" content="Test angular">
        <!-- CSS -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
        <link rel="stylesheet" href="app/css/app.css"/>
        <link rel="icon" href="powzfilm.ico" />
        <!-- LIB JS -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angularjs/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-touch/angular-touch.min.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
        <!-- JS -->
        <script src="app/js/config.js"></script>
        <script src="app/js/app.js"></script>
        <script src="app/js/leftRight-ctrl.js"></script>
        <script src="app/js/home-ctrl.js"></script>
        <script src="app/js/addfilm-ctrl.js"></script>
    </head>
    <body>
    <md-content>
        <md-toolbar ng-controller="ToolbarCtrl">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <ng-md-icon ng-click="toggleLeft()" icon="menu" style="fill:white" ></ng-md-icon> 
                </md-button>
                <h2>
                    <span>Powz</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Favorite">
                    <ng-md-icon ng-click="toggleRight()" icon="person" style="fill:white" ></ng-md-icon> 
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
    <div layout="column">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Navigate</h1>
                </md-toolbar>
                <md-content class="md-padding" ng-controller="LeftCtrl">
                    <md-list >
                        <md-subheader class="md-no-sticky">Section</md-subheader>
                        <md-item ng-repeat="link in links">
                            <md-button ng-click="close()" ng-href="{{link.link}}">{{link.title}}</md-button>
                        </md-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content flex class="md-padding">
                <div layout="column" layout-fill layout-align="top center">
                    <div ng-view></div>
                </div>
            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Profile</h1>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" class="md-padding">
                    <md-subheader class="md-no-sticky">Section</md-subheader>
                        <md-item ng-repeat="link in links">
                            <md-button ng-click="close()" ng-href="{{link.link}}">{{link.title}}</md-button>
                        </md-item>
                </md-content>
            </md-sidenav>
        </section>
    </div>
</body>
</html>